<mat-card class="grid-card">
    <img src="{{game.background_image}}">
    <mat-card-content>
        <mat-card-title>{{game.name}}</mat-card-title>
        <div class="foooter">
            <div>
                @for(platform of game.platforms; track $index) {
                    <app-svg-icon [icon]="platform.platform.name"></app-svg-icon>
                }
            </div>
            <app-game-score [metacritic]="game.metacritic"></app-game-score>
        </div>
    </mat-card-content>
</mat-card>