.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mat-mdc-select-value-text {
    color: white!important;
}

span.mdc-list-item__primary-text {
    color: #007BFF!important;

}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--mat-option-selected-state-label-text-color);
}