<div class="card-container">
    @if(games()?.isLoading) { <h3>Loading...</h3> }

    @if(games()?.error) { <h3>{{games()?.error | json}}</h3> }

    @for(game of games()?.value?.results; track $index) {

    <mat-card class="grid-card">
        <img mat-card-image src="{{game.background_image}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-card-title>{{game.name}}</mat-card-title>
            <!-- <mat-card-subtitle>{{product.price | currency:'EUR'}}</mat-card-subtitle> -->
        </mat-card-content>
    </mat-card>
    }

    @if(games()?.value?.results?.length === 0) { <h3>No Games found</h3> }
</div>