@if (reservations(); as data) {
<div class="container">
    @if(data.isLoading) {
        <h3>Chargement...</h3>
    }
    <table>
        <thead>
            <tr>
                <th>Guest Name</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Room Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for(reservation of data.value ;track $index) {
            <tr>
                <td>{{ reservation.guestName }}</td>
                <td>{{ reservation.checkInDate | date }}</td>
                <td>{{ reservation.checkOutDate | date }}</td>
                <td>{{ reservation.roomNumber }}</td>
                <td>
                    <button class="delete" (click)="deleteReservation(reservation)">Delete</button>
                    <button class="edit" (click)="editReservation(reservation)">Edit</button>
                </td>
            </tr>
            }
            @if(data.value?.length === 0) {
                <h3>
                    No reservations found
                </h3>
            }
        </tbody>
    </table>
</div>
}