<div class="header">
    <div style="display: flex;align-items: center;">
        <div class="logo" data-test="logo">
            <img src="../../../favicon.ico" alt="logo">
        </div>
        <div class="search" data-test="search"><input type="text" placeholder="Search"></div>
    </div>
    <div class="menu" data-test="menu">
        <ul>
            <li>Example 1</li>
            <li>Example 2</li>
            <li>Example 3</li>
            <li>Example 4</li>
        </ul>
    </div>
</div>
<!-- filter menu -->
<div class="filter-menu">
    <button class="btn" data-test="home-type">Home type</button>
    <button class="btn" data-test="dates">Dates</button>
    <button class="btn" data-test="guests">Guests</button>
    <button class="btn" data-test="price">Price</button>
    <button class="btn" data-test="rooms">Rooms</button>
    <button class="btn" data-test="amenities">Amenities</button>
</div>
