img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

p {
    color: black; 
    margin: 0 10px;
    text-decoration: none;
    font-weight: 900;
}

p:hover {
    color: #007BFF;
    cursor: pointer;
}
