html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles.css */

/* Thème clair par défaut */
body {
    background-color: white;
    color: black;
  }
  
  /* Thème sombre */
  .dark-mode {
    background-color: #424242!important;
    color: white!important;
  }

  .light-mode {
    background-color: white!important;
}

p, span {
  color: black; 
}

  